@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}
body{
	width: 800px;
	min-height: 500px;
	margin: auto;
}
header{
	height:70px;
	text-align:center;
	position:relative;
}
header>h2{
	padding:20px;
}
header>h2>a{
	text-decoration: none;
	color: black;
}
header>h2>a:hover{
	color: skyblue;
}
nav{
	height: 30px;
	width: 800px;
	background: #EEEEEE;			
	text-align: center;
}		
nav span{
	background: #EEEEEE;	
	color: black;
	height: 27px;
	width: 100px;
	padding-top: 3px;			
	display: inline-block;			
	text-align: center;
}
nav span:hover{
	background: gray;
	color: skyblue;
	cursor: pointer;
}
section{	
	text-align: center;
	padding: 10px 0px;
	margin: auto;
}		
section input[type=button]{	
	background: lightgray;
	border: none;
	border-radius: 5px;
}		
section input[type=button]:hover{
	background: skyblue;
	cursor: pointer;
}
#mainText{
	font-size: 20px;
	margin: 150px 0px 100px 0px;
	display: inline-block;
}
#id{
	font-size: 25px;
	font-weight: bold;
	margin: 0px 20px;
	display: inline-block;
}
#sendText{
	font-size: 13px;
	margin: 10px;
}
input[name=sendMailId]{
	width: 220px;
	height: 30px;
	font-size: 13px;
	margin: 0px;
}
#last{
	margin: 100px 0px 100px 0px;
}
#last input{
	width: 90px;
	height: 25px;
	font-size: 13px;
}
footer{
	height:50px;
	border-top:1px solid gray;
	text-align: center;
}
footer div{
	margin: 15px;
}