@charset "UTF-8";
*{
	margin:0px;
	padding:0px;
}
body{
	min-height: 100vh;
	margin: auto;
}
header{
	width: 800px;
	margin: auto;
	height: 120px;			
	text-align: center;
	position: relative;
}
nav{
	width: 800px;
	margin: auto;
}
section{
	width: 800px;
	margin: auto;
}
footer{
	width: 800px;
	margin: auto;
}
header>div{
	text-align: right;
	position: absolute;
	top: 40px;
	right: 20px;
}
header>div>span{
	margin: 0px 10px 10px 0px;
	display: inline-block;
}
header>div>input{
	height: 22px;
	width: 90px;
	border: none;
	border-radius: 5px;	
	background: lightgray;
}
header>div input:hover{
	cursor: pointer;
	background-color: skyblue;
	border-radius: 5px;
}
#top{
	padding-top: 9px;
	cursor: pointer;
}