@charset "UTF-8";
section{
	text-align: center;
	padding: 30px 0px 30px;
	margin: auto;
	position: relative;
}
#topButtonDiv{
	height: 1px;
	width: 720px;
	margin: 0px;
	padding: 0px;
	text-align: right;
	display: inline-block;
}
#topButton{
	width: 40px;
	height: 60px;
	position: fixed;
	bottom: 120px;
	border-radius: 5px;
}
#topButton:hover{
	cursor: pointer;
	background: #B3E5FC;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
section>div{
	width: 700px;
	height: 500px;			
	display: inline-block;
}
section form{
	text-align: left;
	margin-bottom: 20px;
}
section select{
	height: 26px;
	border: 1px solid gray;
	border-radius: 5px;
	cursor: pointer;
}
section>div>form>div{
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0px 7px;
	display: inline-block;
}
section input{
	border: none;
}
section input[name='searchValue']{
	height: 23px;
}
section input[name='searchSubmit']{	
	width: 50px;	
	background: white;
	border: none;
}
section input[name='searchSubmit']:hover{
	cursor: pointer;
}
#box{
	margin: 30px 0px;
}
#titleRow{
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-weight: bold;
	height: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.rowDiv{
	border-bottom: 1px solid gray;
	height: 23px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
.rowDiv:hover{
	background: #E0E0E0;
	color: blue;
	font-weight: bold;
	cursor: pointer;
}
.bidxSpan{
	width: 50px;
	display: inline-block;
}
.subjectSpan{
	width: 350px;
	display: inline-block;
	padding-left: 10px;
}
.rowDiv .subjectSpan{
	text-align: left;
}
.writerSpan{
	width: 70px;
	display: inline-block;
}
.wdateSpan{
	width: 100px;
	display: inline-block;
}
.hitSpan{
	width: 50px;
	display: inline-block;
}
.upSpan{
	width: 35px;
	display: inline-block;
}
#writeButtonDiv{
	text-align: right;
}
#writeButton{
	margin: 0px 15px 0px 0px;
	width: 80px;
	height: 25px;
	font-size: 15px;
	background: lightgray;
	border-radius: 5px;
}
#writeButton:hover{
	background: skyblue;
	cursor: pointer;
}
#pagingArea{
	margin: 35px 0px 0px 0px;
}
.backButton,.nextButton{
	width: 40px;
	height:25px;
	font-size: 15px;	
	border-radius: 5px;
}
.numButton,.selButton{
	width: 25px;
	height:25px;
	font-size: 15px;	
	border-radius: 5px;
}
.selButton{
	font-weight: bold;
	color: blue;
}
#pagingArea input:hover{
	background: skyblue;
	cursor: pointer;
}