@charset "UTF-8";
section{
	height:70%;
	text-align: center;
	padding: 50px 0px;
	margin: auto;
}
section>div{
	width: 700px;
	height: 500px;			
	display: inline-block;
}
section form{
	text-align: left;
	margin-bottom: 20px;
}
section select{
	height: 26px;
	border: 1px solid gray;
	border-radius: 5px;
}
section>div>form>div{
	border: 1px solid gray;
	border-radius: 5px;
	padding: 0px 7px;
	display: inline-block;
}
section input{
	border: none;
}
section input[name='searchValue']{
	height: 23px;
}
section input[name='searchSubmit']{	
	width: 50px;	
	background: white;
	border: none;
}
section input[name='searchSubmit']:hover{
	cursor: pointer;
}
section>div>table{	
	margin: auto;
	width: 700px;
	height: 400px;
}