@charset "UTF-8";
section{
	text-align: center;
	padding: 30px 0px 30px;
	margin: auto;
	position: relative;
}
#topButtonDiv{
	height: 1px;
	width: 720px;
	margin: 0px;
	padding: 0px;
	text-align: right;
	display: inline-block;
}
#topButton{
	width: 40px;
	height: 60px;
	position: fixed;
	bottom: 120px;
	border-radius: 5px;
}
#topButton:hover{
	cursor: pointer;
	background: #B3E5FC;
}
section>div{
	width: 790px;
	height: 500px;			
	display: inline-block;
}
#outDiv{
	width: 790px;
}
section input{
	border: none;
}
#subjectDiv{
	height: 40px;
	text-align: left;
	padding-left: 20px;
	font-weight: bold;
	font-size: 20px;
}
#rightDiv,#leftDiv{
	height: 30px;
	display: inline-block;
}
#writerDiv,#upAreaDiv{
	border-bottom: 1px solid gray;
}
#leftDiv{
	width: 347px;
	text-align: left;
}
#rightDiv{
	width: 347px;
	text-align: right;
	font-size: 14px;
}
#leftDiv span,#rightDiv span{
	display: inline-block;
}
#writerSpan{
	font-size: 17px;
	margin-left: 20px;
}
#wdateSpan{
	font-size: 14px;
	margin-left: 20px;
}
#hitSpan,#upSpan,#replySpan{
	font-weight: bold;
	margin-right: 20px;
}
.fileDiv{
	text-align: right;
	color: gray;
	margin-bottom: 10px;
}
.contentDiv{
	width: 780px;
	text-align: left;
	padding: 20px 10px;
	font-size: 16px;
	word-break: break-all;
}
#upVal{
	display: inline-block;
	margin: 30px;
}
#up,#down{
	width: 50px;
	height: 20px;
	font-size: 13px;
	border: 1px solid black;
	background: white;
	border-radius: 5px;
	cursor: pointer;
}
#buttonDiv{
	text-align: right;
	margin: 10px 20px;
}
#buttonDiv input{
	margin: 10px;
	width: 80px;
	height: 25px;
	font-size: 15px;
	background: lightgray;
	border-radius: 5px;
}
#buttonDiv input:hover{
	background: skyblue;
	cursor: pointer;
}
#reInputArea{
	padding: 20px;
	text-align: left;
	position: relative;
}
#reInput,#reReInput{
	width: 530px;
	height: 44px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 3px 20px;
	resize: none;
}
#reInput::placeholder,#reReInput::placeholder{
	position: absolute;
	top: 18px;
}
#reSubmitButton,#reReSubmitButton{
	width: 80px;
	height: 50px;
	margin-left: 20px;
	border-radius: 5px;
	border: 1px solid black;
	background: white;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
}
#reBox{
	border-bottom: 1px solid gray;
	width: 790px;
	overflow: hidden;
}
.reArea{
	border-top: 1px solid gray;
	text-align: left;
	padding: 5px 15px;
	width: 780px;
	word-break: break-all;
	display: inline-block;
	overflow: hidden;
}
.reIn{
	width: 670px;
	word-break: break-all;
	display: inline-block;
	overflow: hidden;
}
#rename,#redate,#recon{	
	display: inline-block;
}
#rename{
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
#redate{
	font-size: 14px;
	margin: 0px 20px;
}
#redel,#remodi,#resave,#recan,#replyRestore,#reReply,#reReCan{
	border: 1px solid black;
	border-radius: 5px;
	background: white;
	width: 35px;
	height: 18px;
	font-size: 12px;
	cursor: pointer;
	margin-bottom: 3px;
}
#reReply,#reReCan{
	margin: 5px 0px 10px 20px;
}
#resave,#recan,#reReCan{
	display: none;
}
.reSpanSpace{
	width: 10px;
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.reSpan{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
#recon{
	width: 660px;
	font-size: 14px;
	display: inline-block;
	margin-left: 0px;
	word-break: break-all;
}
#reModifyInsert{
	width: 430px;
	height: 40px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 3px 20px;
	resize: none;
	font-size: 14px;
	display: none;
	word-break: break-all;
	margin: 0px 10px;
}
pre{
	white-space: pre-wrap;
}
#reSubmitButton:hover,#reReSubmitButton:hover,#redel:hover,#remodi:hover,#resave:hover,#recan:hover,#up:hover,#down:hover{
	background: #E0E0E0;
	border: none;
}
#pagingArea{
	margin: 20px 10px 0px 10px;
}
.backButton,.nextButton{
	width: 40px;
	height:25px;
	font-size: 15px;	
	border-radius: 5px;
}
.selButton,.numButton{
	width: 25px;
	height:25px;
	font-size: 15px;	
	border-radius: 5px;
}
.selButton{
	font-weight: bold;
	color: blue;
}
#pagingArea input:hover{
	background: skyblue;
	cursor: pointer;
}